# Feature engineering

In [29]:
import pandas as pd
import numpy as np

In [30]:
agg = pd.read_csv('data/aggregates.csv')
trans = pd.read_csv('data/transactions.csv')

In [31]:
agg.fillna(0, inplace = True)
agg.head()

,client_id,report_date,cnt_zp_1m,cnt_zp_3m,cnt_zp_6m,cnt_zp_12m,downlimit_count,uplimit_count,limit_exchange_count,cur_credit_limit,...,curdel_30plus_bki,curdel_60plus_bank,curdel_60plus_bki,curdel_tech_bank,curdel_tech_bki,bank_1_29_5y_debtor,bank_30_59_5y_debtor,bank_60_89_5y_debtor,bank_90_119_5y_debtor,bank_120plus_5y_debtor
0,4268,2019-11-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,8951,2019-11-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3485,2019-11-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,8008,2019-11-01 00:00:00,2.0,6.0,12.0,24.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1615,2019-11-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [32]:
trans.head()

,client_id,last_day_month,mcc_group,att_sum,att_cnt,att_sum_min,att_sum_max,att_sum_avg
0,1322,2019-12-31,TRANSPORTATION,90.00,3,23.00,44.0,30.000000
1,7737,2019-05-31,RETAIL STORES,989.00,5,99.00,423.0,197.800000
2,9549,2020-03-31,NON FOOD RETAIL,11878.55,24,52.79,2303.0,494.939583
3,4562,2019-12-31,FINANCIAL SERVICES,15000.00,1,15000.00,15000.0,15000.000000
4,7112,2020-02-29,BUSINESS SERVICES,887.60,3,107.10,413.7,295.866666

In [33]:
agg = agg.groupby(['client_id', 'report_date']).sum()

In [34]:
agg.head()

                               cnt_zp_1m  cnt_zp_3m  cnt_zp_6m  cnt_zp_12m  \
client_id report_date
0         2019-08-01 00:00:00        0.0        0.0        0.0         0.0
          2019-09-01 00:00:00        1.0        1.0        1.0         1.0
          2019-10-01 00:00:00        1.0        2.0        2.0         2.0
          2019-11-01 00:00:00        1.0        3.0        3.0         3.0
          2019-12-01 00:00:00        1.0        3.0        4.0         4.0

                               downlimit_count  uplimit_count  \
client_id report_date
0         2019-08-01 00:00:00              0.0            0.0
          2019-09-01 00:00:00              0.0            0.0
          2019-10-01 00:00:00              0.0            0.0
          2019-11-01 00:00:00              0.0            0.0
          2019-12-01 00:00:00              0.0            0.0

                               limit_exchange_count  cur_credit_limit  \
client_id report_date
0         2019-08-01 00:00:00                   0.0               0.0
          2019-09-01 00:00:00                   0.0               0.0
          2019-10-01 00:00:00                   0.0               0.0
          2019-11-01 00:00:00                   0.0               0.0
          2019-12-01 00:00:00                   0.0               0.0

                               cur_cr_lim_month  prev_credit_limit  ...  \
client_id report_date                                               ...
0         2019-08-01 00:00:00               0.0                0.0  ...
          2019-09-01 00:00:00               0.0                0.0  ...
          2019-10-01 00:00:00               0.0                0.0  ...
          2019-11-01 00:00:00               0.0                0.0  ...
          2019-12-01 00:00:00               0.0                0.0  ...

                               curdel_30plus_bki  curdel_60plus_bank  \
client_id report_date
0         2019-08-01 00:00:00                0.0                 0.0
          2019-09-01 00:00:00                0.0                 0.0
          2019-10-01 00:00:00                0.0                 0.0
          2019-11-01 00:00:00                0.0                 0.0
          2019-12-01 00:00:00                0.0                 0.0

                               curdel_60plus_bki  curdel_tech_bank  \
client_id report_date
0         2019-08-01 00:00:00                0.0               0.0
          2019-09-01 00:00:00                0.0               0.0
          2019-10-01 00:00:00                0.0               0.0
          2019-11-01 00:00:00                0.0               0.0
          2019-12-01 00:00:00                0.0               0.0

                               curdel_tech_bki  bank_1_29_5y_debtor  \
client_id report_date
0         2019-08-01 00:00:00              0.0                  0.0
          2019-09-01 00:00:00              0.0                  0.0
          2019-10-01 00:00:00              0.0                  0.0
          2019-11-01 00:00:00              0.0                  0.0
          2019-12-01 00:00:00              0.0                  0.0

                               bank_30_59_5y_debtor  bank_60_89_5y_debtor  \
client_id report_date
0         2019-08-01 00:00:00                   0.0                   0.0
          2019-09-01 00:00:00                   0.0                   0.0
          2019-10-01 00:00:00                   0.0                   0.0
          2019-11-01 00:00:00                   0.0                   0.0
          2019-12-01 00:00:00                   0.0                   0.0

                               bank_90_119_5y_debtor  bank_120plus_5y_debtor
client_id report_date
0         2019-08-01 00:00:00                    0.0                     0.0
          2019-09-01 00:00:00                    0.0                     0.0
          2019-10-01 00:00:00                    0.0                     0.0
          2019-11-01 00:00:00                    0.0                     0.0
          2019-12-01 00:00:00                    0.0                     0.0

[5 rows x 211 columns]

In [35]:
trans['mcc_group'].value_counts().index

Index(['FINANCIAL SERVICES', 'RETAIL STORES', 'NON FOOD RETAIL',
       'PUBLIC SERVICE', 'AUTO', 'CLOTHING STORES', 'unknown',
       'TRANSPORTATION', 'ENTERTAINMENT', 'MEDICAL SERVICES',
       'BUSINESS SERVICES', 'PERSONAL SERVICES', 'GOVERNMENT SERVICES',
       'WHOLESALE', 'REPAIR SERVICES', 'BAR', 'HOTEL',
       'SALES BY MAIL AND PHONE', 'GAMBLING', 'EDUCATION', 'AIRLINES',
       'CHARITY', 'CONSTRUCTION SERVICES', 'VEHICLE RENTAL', 'LEGAL SERVICES',
       'PRINTING SERVICES', 'SERVICE PROVIDER', 'UNCLASSIFIED PAYMENTS'],
      dtype='object')

In [36]:
df = trans
col = trans['mcc_group'].value_counts().index
for name in col:
    df[name] = 0
    df[name] = df.loc[df.mcc_group == name]['att_sum']

In [37]:
df.fillna(0, inplace = True)
df.head()

,client_id,last_day_month,mcc_group,att_sum,att_cnt,att_sum_min,att_sum_max,att_sum_avg,FINANCIAL SERVICES,RETAIL STORES,...,GAMBLING,EDUCATION,AIRLINES,CHARITY,CONSTRUCTION SERVICES,VEHICLE RENTAL,LEGAL SERVICES,PRINTING SERVICES,SERVICE PROVIDER,UNCLASSIFIED PAYMENTS
0,1322,2019-12-31,TRANSPORTATION,90.00,3,23.00,44.0,30.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,7737,2019-05-31,RETAIL STORES,989.00,5,99.00,423.0,197.800000,0.0,989.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,9549,2020-03-31,NON FOOD RETAIL,11878.55,24,52.79,2303.0,494.939583,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4562,2019-12-31,FINANCIAL SERVICES,15000.00,1,15000.00,15000.0,15000.000000,15000.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,7112,2020-02-29,BUSINESS SERVICES,887.60,3,107.10,413.7,295.866666,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
df = df.groupby(['client_id', 'last_day_month']).sum().iloc[:,5:]

In [39]:
df.head()

                          FINANCIAL SERVICES  RETAIL STORES  NON FOOD RETAIL  \
client_id last_day_month
0         2019-09-30                 78700.0       16793.00           6139.0
          2019-10-31                  1807.0       23457.37           5490.0
          2019-11-30                 30300.0       28498.80          11570.0
          2019-12-31                 87222.0       16955.65          13174.0
          2020-01-31                  2120.0       25103.62           7310.0

                          PUBLIC SERVICE  AUTO  CLOTHING STORES  unknown  \
client_id last_day_month
0         2019-09-30              380.00   0.0           2620.0      0.0
          2019-10-31             1375.11   0.0            864.0      0.0
          2019-11-30              613.05   0.0              0.0      0.0
          2019-12-31             1352.25   0.0              0.0      0.0
          2020-01-31                0.00   0.0              0.0      0.0

                          TRANSPORTATION  ENTERTAINMENT  MEDICAL SERVICES  \
client_id last_day_month
0         2019-09-30              4829.0            0.0               0.0
          2019-10-31                 0.0            0.0               0.0
          2019-11-30                 0.0            0.0               0.0
          2019-12-31               700.0            0.0               0.0
          2020-01-31                 0.0            0.0               0.0

                          ...  GAMBLING  EDUCATION  AIRLINES  CHARITY  \
client_id last_day_month  ...
0         2019-09-30      ...       0.0        0.0       0.0      0.0
          2019-10-31      ...       0.0        0.0       0.0      0.0
          2019-11-30      ...       0.0        0.0       0.0      0.0
          2019-12-31      ...       0.0        0.0       0.0      0.0
          2020-01-31      ...       0.0        0.0       0.0      0.0

                          CONSTRUCTION SERVICES  VEHICLE RENTAL  \
client_id last_day_month
0         2019-09-30                        0.0             0.0
          2019-10-31                        0.0             0.0
          2019-11-30                        0.0             0.0
          2019-12-31                        0.0             0.0
          2020-01-31                        0.0             0.0

                          LEGAL SERVICES  PRINTING SERVICES  SERVICE PROVIDER  \
client_id last_day_month
0         2019-09-30                 0.0                0.0               0.0
          2019-10-31                 0.0                0.0               0.0
          2019-11-30                 0.0                0.0               0.0
          2019-12-31                 0.0                0.0               0.0
          2020-01-31                 0.0                0.0               0.0

                          UNCLASSIFIED PAYMENTS
client_id last_day_month
0         2019-09-30                        0.0
          2019-10-31                        0.0
          2019-11-30                        0.0
          2019-12-31                        0.0
          2020-01-31                        0.0

[5 rows x 28 columns]

In [40]:
df['max_group'] = [df.columns[i][0] for i in df.values == df.max(axis=1)[:,None]]

/Users/ramil/tech/python/web/digital-breakthrough-2020/infra/env/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Support for multi-dimensional indexing (e.g. `obj[:, None]`) is deprecated and will be removed in a future version.  Convert to a numpy array before indexing instead.
  """Entry point for launching an IPython kernel.

In [41]:
df.head()

                          FINANCIAL SERVICES  RETAIL STORES  NON FOOD RETAIL  \
client_id last_day_month
0         2019-09-30                 78700.0       16793.00           6139.0
          2019-10-31                  1807.0       23457.37           5490.0
          2019-11-30                 30300.0       28498.80          11570.0
          2019-12-31                 87222.0       16955.65          13174.0
          2020-01-31                  2120.0       25103.62           7310.0

                          PUBLIC SERVICE  AUTO  CLOTHING STORES  unknown  \
client_id last_day_month
0         2019-09-30              380.00   0.0           2620.0      0.0
          2019-10-31             1375.11   0.0            864.0      0.0
          2019-11-30              613.05   0.0              0.0      0.0
          2019-12-31             1352.25   0.0              0.0      0.0
          2020-01-31                0.00   0.0              0.0      0.0

                          TRANSPORTATION  ENTERTAINMENT  MEDICAL SERVICES  \
client_id last_day_month
0         2019-09-30              4829.0            0.0               0.0
          2019-10-31                 0.0            0.0               0.0
          2019-11-30                 0.0            0.0               0.0
          2019-12-31               700.0            0.0               0.0
          2020-01-31                 0.0            0.0               0.0

                          ...  EDUCATION  AIRLINES  CHARITY  \
client_id last_day_month  ...
0         2019-09-30      ...        0.0       0.0      0.0
          2019-10-31      ...        0.0       0.0      0.0
          2019-11-30      ...        0.0       0.0      0.0
          2019-12-31      ...        0.0       0.0      0.0
          2020-01-31      ...        0.0       0.0      0.0

                          CONSTRUCTION SERVICES  VEHICLE RENTAL  \
client_id last_day_month
0         2019-09-30                        0.0             0.0
          2019-10-31                        0.0             0.0
          2019-11-30                        0.0             0.0
          2019-12-31                        0.0             0.0
          2020-01-31                        0.0             0.0

                          LEGAL SERVICES  PRINTING SERVICES  SERVICE PROVIDER  \
client_id last_day_month
0         2019-09-30                 0.0                0.0               0.0
          2019-10-31                 0.0                0.0               0.0
          2019-11-30                 0.0                0.0               0.0
          2019-12-31                 0.0                0.0               0.0
          2020-01-31                 0.0                0.0               0.0

                          UNCLASSIFIED PAYMENTS           max_group
client_id last_day_month
0         2019-09-30                        0.0  FINANCIAL SERVICES
          2019-10-31                        0.0       RETAIL STORES
          2019-11-30                        0.0  FINANCIAL SERVICES
          2019-12-31                        0.0  FINANCIAL SERVICES
          2020-01-31                        0.0       RETAIL STORES

[5 rows x 29 columns]

In [42]:
df.reset_index('last_day_month', inplace = True)
df.head()

,last_day_month,FINANCIAL SERVICES,RETAIL STORES,NON FOOD RETAIL,PUBLIC SERVICE,AUTO,CLOTHING STORES,unknown,TRANSPORTATION,ENTERTAINMENT,...,EDUCATION,AIRLINES,CHARITY,CONSTRUCTION SERVICES,VEHICLE RENTAL,LEGAL SERVICES,PRINTING SERVICES,SERVICE PROVIDER,UNCLASSIFIED PAYMENTS,max_group
client_id,,,,,,,,,,,,,,,,,,,,,
0,2019-09-30,78700.0,16793.00,6139.0,380.00,0.0,2620.0,0.0,4829.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,FINANCIAL SERVICES
0,2019-10-31,1807.0,23457.37,5490.0,1375.11,0.0,864.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,RETAIL STORES
0,2019-11-30,30300.0,28498.80,11570.0,613.05,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,FINANCIAL SERVICES
0,2019-12-31,87222.0,16955.65,13174.0,1352.25,0.0,0.0,0.0,700.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,FINANCIAL SERVICES
0,2020-01-31,2120.0,25103.62,7310.0,0.00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,RETAIL STORES

In [43]:
df['year_month'] = 0 
for date in df['last_day_month'].value_counts().index:
    df.loc[df.last_day_month == date, 'year_month'] = str(pd.to_datetime(date).year) + '_' + str(pd.to_datetime(date).month)
    print(date)

2020-09-30
2020-08-31
2020-07-31
2020-06-30
2020-05-31
2020-03-31
2020-04-30
2020-02-29
2020-01-31
2019-12-31
2019-11-30
2019-10-31
2019-09-30
2019-08-31
2019-07-31
2019-06-30
2019-05-31
2019-04-30
2019-03-31
2019-02-28
2019-01-31
2018-12-31
2018-11-30
2018-10-31
2018-09-30
2018-08-31
2018-07-31
2018-06-30

In [44]:
agg.reset_index('report_date', inplace = True)
agg['year_month'] = 0 
for date in agg['report_date'].value_counts().index:
    agg.loc[agg.report_date == date, 'year_month'] = str(pd.to_datetime(date).year) + '_' + str(pd.to_datetime(date).month)
    print(date)

2020-02-01 00:00:00
2020-05-01 00:00:00
2020-08-01 00:00:00
2020-04-01 00:00:00
2020-06-01 00:00:00
2020-07-01 00:00:00
2020-03-01 00:00:00
2020-01-01 00:00:00
2019-11-01 00:00:00
2019-10-01 00:00:00
2019-12-01 00:00:00
2019-08-01 00:00:00
2019-07-01 00:00:00
2019-06-01 00:00:00
2019-09-01 00:00:00
2019-05-01 00:00:00
2019-04-01 00:00:00
2019-03-01 00:00:00
2019-02-01 00:00:00
2019-01-01 00:00:00
2020-10-01 00:00:00
2020-09-01 00:00:00
2020-09-01
2020-10-01
2020-07-01
2020-08-01
2020-06-01
2020-03-01
2020-04-01
2020-05-01
2019-12-01
2020-01-01
2019-09-01
2019-11-01
2019-10-01
2020-02-01
2019-08-01
2019-07-01
2019-03-01

In [45]:
agg.reset_index(inplace = True)
df.reset_index(inplace = True)
agg.head()

,client_id,report_date,cnt_zp_1m,cnt_zp_3m,cnt_zp_6m,cnt_zp_12m,downlimit_count,uplimit_count,limit_exchange_count,cur_credit_limit,...,curdel_60plus_bank,curdel_60plus_bki,curdel_tech_bank,curdel_tech_bki,bank_1_29_5y_debtor,bank_30_59_5y_debtor,bank_60_89_5y_debtor,bank_90_119_5y_debtor,bank_120plus_5y_debtor,year_month
0,0,2019-08-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2019_8
1,0,2019-09-01 00:00:00,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2019_9
2,0,2019-10-01 00:00:00,1.0,2.0,2.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2019_10
3,0,2019-11-01 00:00:00,1.0,3.0,3.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2019_11
4,0,2019-12-01 00:00:00,1.0,3.0,4.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2019_12

In [46]:
merged = pd.merge(agg, df[['client_id','year_month', 'max_group']], on=['client_id', 'year_month'])

In [47]:
merged.drop('year_month', axis = 1, inplace = True)
merged.head()

,client_id,report_date,cnt_zp_1m,cnt_zp_3m,cnt_zp_6m,cnt_zp_12m,downlimit_count,uplimit_count,limit_exchange_count,cur_credit_limit,...,curdel_60plus_bank,curdel_60plus_bki,curdel_tech_bank,curdel_tech_bki,bank_1_29_5y_debtor,bank_30_59_5y_debtor,bank_60_89_5y_debtor,bank_90_119_5y_debtor,bank_120plus_5y_debtor,max_group
0,0,2019-09-01 00:00:00,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,FINANCIAL SERVICES
1,0,2019-10-01 00:00:00,1.0,2.0,2.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,RETAIL STORES
2,0,2019-11-01 00:00:00,1.0,3.0,3.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,FINANCIAL SERVICES
3,0,2019-12-01 00:00:00,1.0,3.0,4.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,FINANCIAL SERVICES
4,0,2020-01-01 00:00:00,2.0,4.0,6.0,6.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,RETAIL STORES

In [48]:
merged['group_predict'] = 0
groups = merged['max_group'].value_counts().index
for i in range(len(groups)):
    merged.loc[merged.max_group == groups[i], 'group_predict'] = i

In [49]:
merged.drop('max_group',axis=1,inplace = True)

In [50]:
merged.head()

,client_id,report_date,cnt_zp_1m,cnt_zp_3m,cnt_zp_6m,cnt_zp_12m,downlimit_count,uplimit_count,limit_exchange_count,cur_credit_limit,...,curdel_60plus_bank,curdel_60plus_bki,curdel_tech_bank,curdel_tech_bki,bank_1_29_5y_debtor,bank_30_59_5y_debtor,bank_60_89_5y_debtor,bank_90_119_5y_debtor,bank_120plus_5y_debtor,group_predict
0,0,2019-09-01 00:00:00,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,0,2019-10-01 00:00:00,1.0,2.0,2.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,0,2019-11-01 00:00:00,1.0,3.0,3.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,0,2019-12-01 00:00:00,1.0,3.0,4.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,0,2020-01-01 00:00:00,2.0,4.0,6.0,6.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [51]:
merged = merged[:30000]

# Machine Learning

In [52]:
X = merged.iloc[:,:-1]
y = merged.iloc[:,-1:]
X.to_csv('data/X.csv')
y.to_csv('data/y.csv')

In [53]:
del merged, trans

In [54]:
X = X.groupby(['client_id', 'report_date']).sum()
X.head()

                               cnt_zp_1m  cnt_zp_3m  cnt_zp_6m  cnt_zp_12m  \
client_id report_date
0         2019-09-01 00:00:00        1.0        1.0        1.0         1.0
          2019-10-01 00:00:00        1.0        2.0        2.0         2.0
          2019-11-01 00:00:00        1.0        3.0        3.0         3.0
          2019-12-01 00:00:00        1.0        3.0        4.0         4.0
          2020-01-01 00:00:00        2.0        4.0        6.0         6.0

                               downlimit_count  uplimit_count  \
client_id report_date
0         2019-09-01 00:00:00              0.0            0.0
          2019-10-01 00:00:00              0.0            0.0
          2019-11-01 00:00:00              0.0            0.0
          2019-12-01 00:00:00              0.0            0.0
          2020-01-01 00:00:00              0.0            0.0

                               limit_exchange_count  cur_credit_limit  \
client_id report_date
0         2019-09-01 00:00:00                   0.0               0.0
          2019-10-01 00:00:00                   0.0               0.0
          2019-11-01 00:00:00                   0.0               0.0
          2019-12-01 00:00:00                   0.0               0.0
          2020-01-01 00:00:00                   0.0               0.0

                               cur_cr_lim_month  prev_credit_limit  ...  \
client_id report_date                                               ...
0         2019-09-01 00:00:00               0.0                0.0  ...
          2019-10-01 00:00:00               0.0                0.0  ...
          2019-11-01 00:00:00               0.0                0.0  ...
          2019-12-01 00:00:00               0.0                0.0  ...
          2020-01-01 00:00:00               0.0                0.0  ...

                               curdel_30plus_bki  curdel_60plus_bank  \
client_id report_date
0         2019-09-01 00:00:00                0.0                 0.0
          2019-10-01 00:00:00                0.0                 0.0
          2019-11-01 00:00:00                0.0                 0.0
          2019-12-01 00:00:00                0.0                 0.0
          2020-01-01 00:00:00                0.0                 0.0

                               curdel_60plus_bki  curdel_tech_bank  \
client_id report_date
0         2019-09-01 00:00:00                0.0               0.0
          2019-10-01 00:00:00                0.0               0.0
          2019-11-01 00:00:00                0.0               0.0
          2019-12-01 00:00:00                0.0               0.0
          2020-01-01 00:00:00                0.0               0.0

                               curdel_tech_bki  bank_1_29_5y_debtor  \
client_id report_date
0         2019-09-01 00:00:00              0.0                  0.0
          2019-10-01 00:00:00              0.0                  0.0
          2019-11-01 00:00:00              0.0                  0.0
          2019-12-01 00:00:00              0.0                  0.0
          2020-01-01 00:00:00              0.0                  0.0

                               bank_30_59_5y_debtor  bank_60_89_5y_debtor  \
client_id report_date
0         2019-09-01 00:00:00                   0.0                   0.0
          2019-10-01 00:00:00                   0.0                   0.0
          2019-11-01 00:00:00                   0.0                   0.0
          2019-12-01 00:00:00                   0.0                   0.0
          2020-01-01 00:00:00                   0.0                   0.0

                               bank_90_119_5y_debtor  bank_120plus_5y_debtor
client_id report_date
0         2019-09-01 00:00:00                    0.0                     0.0
          2019-10-01 00:00:00                    0.0                     0.0
          2019-11-01 00:00:00                    0.0                     0.0
          2019-12-01 00:00:00                    0.0                     0.0
          2020-01-01 00:00:00                    0.0                     0.0

[5 rows x 211 columns]

In [55]:
y.head()

   group_predict
0              0
1              1
2              0
3              0
4              1

In [56]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)